<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fixpay_Helloworld>
            <version>0.0.1</version>
        </Fixpay_Helloworld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Fixpay_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>fixpay/helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
    </frontend>
</config>