<?xml version="1.0"?>
<config>
    <modules>
        <FixPay_Integration>
            <version>1.0.0</version>
        </FixPay_Integration>
    </modules>
    <global>
        <helpers>
            <fixpay_integration>
                <class>FixPay_Integration_Helper</class>
            </fixpay_integration>
        </helpers>
        <models>
            <fixpay_integration>
                <class>FixPay_Integration_Model</class>
                <resourceModel>fixpay_integration_resource</resourceModel>
            </fixpay_integration>
            <fixpay_integration_resource>
                <class>FixPay_Integration_Model_Resource</class>
                <entities>
                    <queue>
                        <table>fixpay_integration_queue</table>
                    </queue>
                </entities>
            </fixpay_integration_resource>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <fixpay_integration>
                        <type>model</type>
                        <class>fixpay_integration/observer</class>
                        <method>execute</method>
                    </fixpay_integration>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <integration_setup>
                <setup>
                    <module>FixPay_Integration</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </integration_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <fixpay_integration>
                <use>standard</use>
                <args>
                    <module>FixPay_Integration</module>
                    <frontName>integration</frontName>
                </args>
            </fixpay_integration>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <fixpay_integration_order>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fixpay_integration/cron::integrate</model>
                </run>
            </fixpay_integration_order>
        </jobs>
    </crontab>
</config>