<?xml version="1.0"?>
<config>
    <modules>
        <FixPay_AddToCart>
            <version>1.0.0</version>
        </FixPay_AddToCart>
    </modules>
    <global>
        <helpers>
            <fixpay_addtocart>
                <class>FixPay_AddToCart_Helper</class>
            </fixpay_addtocart>
        </helpers>
    </global>
    <frontend>
        <routers>
            <fixpay_addtocart>
                <use>standard</use>
                <args>
                    <module>FixPay_AddToCart</module>
                    <frontName>addtocart</frontName>
                </args>
            </fixpay_addtocart>
        </routers>
    </frontend>
</config>