<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <fix_pay>
            <label>Fix Pay</label>
            <sort_order>10</sort_order>
        </fix_pay>
    </tabs>
    <sections>
        <fixpay_configs>
            <label>Teste Checkout</label>
            <tab>fix_pay</tab>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <fixpay_credenciais>
                    <label>Fix Pay Checkout</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <fixpay_habilitado>
                            <label>Ativar/Desativar</label>
                            <sort_order>1</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Ativar o Fix Pay Checkout]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixpay_habilitado>
                        <fixpay_email>
                            <label>Email</label>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Email da sua conta Fix Pay.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixpay_email>
                        <fixpay_senha>
                            <label>Senha</label>
                            <sort_order>20</sort_order>
                            <frontend_type>password</frontend_type>
                            <comment><![CDATA[Senha da sua conta Fix Pay.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixpay_senha>
                        <fixpay_brand>
                            <label>Nome da Marca/Loja</label>
                            <sort_order>30</sort_order>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Nome da Marca/Loja que vai aparecer no checkout Fix Pay.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixpay_brand>
                        <fixpay_maxparcela>
                            <label>Máximo de Parcelas s/ Juros</label>
                            <sort_order>40</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>fixpay_config/months</source_model>
                            <comment><![CDATA[Número máximo de parcelas sem juros repassados ao cliente.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixpay_maxparcela>
                        <fixpay_minparcela>
                            <label>Valor Mínimo da Parcela (R$)</label>
                            <sort_order>50</sort_order>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Valor mínimo permitido para cada parcela.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixpay_minparcela>
                        <fixpay_btnpers>
                            <label>Botão Personalizado</label>
                            <sort_order>60</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Ativa botao personalizado com as cores da Fix Pay.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixpay_btnpers>
                        <fixpay_btnperscolor>
                            <label>Cor do Botão</label>
                            <sort_order>70</sort_order>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Código da cor (padrão: #00e6e6) do botão personalizado que aparece no checkout. Consulte o código da cor.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixpay_btnperscolor>
                        <fixpay_backgroundpers>
                            <label>Background Personalizado</label>
                            <sort_order>80</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Ativa um plano de fundo personalizado na tela de checkout.]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixpay_backgroundpers>
                        <fixpay_backgroundpersurl>
                            <label>URL da Imagem</label>
                            <sort_order>90</sort_order>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Url da imagem de plano de fundo personalizado da tela de checkout (padrão: https://intranet.fixpay.com.br/images/link_pagamento_email/Camada48.png).]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixpay_backgroundpersurl>
                    </fields>
                </fixpay_credenciais>
            </groups>
        </fixpay_configs>
    </sections>
</config>

