<?xml version="1.0"?>
<config>
    <modules>
        <FixPay_Checkout>
            <version>1.0.0</version>
        </FixPay_Checkout>
    </modules>
    <global>
        <models>
            <fixpay_checkout>
                <class>FixPay_Checkout_Model</class>
            </fixpay_checkout>
        </models>
    </global>
    <default>
        <payment>
<!--            <fixpay_configs>-->
<!--                <fixpay_email>guilacovolan@gmail.com</fixpay_email>-->
<!--                <fixpay_senha>12345678</fixpay_senha>-->
<!--                <fixpay_maxparcela>1</fixpay_maxparcela>-->
<!--                <fixpay_minparcela>0.00</fixpay_minparcela>-->
<!--                <fixpay_btnperscolor>#00e6e6</fixpay_btnperscolor>-->
<!--                <fixpay_backgroundpersurl>https://intranet.fixpay.com.br/images/link_pagamento_email/Camada48.png</fixpay_backgroundpersurl>-->
<!--            </fixpay_configs>-->
            <fixpay_credentials>
                <fixpay_email>guilacovolan@gmail.com</fixpay_email>
                <fixpay_senha>12345678</fixpay_senha>
            </fixpay_credentials>
            <fixpay_payment>
                <fixpay_maxparcela>1</fixpay_maxparcela>
                <fixpay_minparcela>0.00</fixpay_minparcela>
            </fixpay_payment>
            <fixpay_personal>
                <fixpay_btnperscolor>#00e6e6</fixpay_btnperscolor>
                <fixpay_backgroundpersurl>https://intranet.fixpay.com.br/images/link_pagamento_email/Camada48.png</fixpay_backgroundpersurl>
            </fixpay_personal>
        </payment>
    </default>
</config>